gated/data/testsets/MID00160_FID67463_UCAIR_SMS2_SA_LA_30_rays_10ml_rest_GROG_30_rays.mat
gated/data/testsets/MID00063_FID05040_UCAIR_SMS2_SA_LA_30_rays_10ML_REST_GROG_30_rays.mat
gated/data/testsets/MID00076_FID12494_UCAIR_Perfusion_REST_11ML_GROG_30_rays.mat
gated/data/testsets/MID00040_FID05017_UCAIR_SMS2_SA_LA_30_rays_10ml_stress_GROG_30_rays.mat
gated/data/testsets/MID00059_FID12477_UCAIR_Perfusion_GROG_30_rays.mat
gated/data/testsets/MID00121_FID67424_UCAIR_SMS2_SA_LA_30_rays_10ml_stress_GROG_30_rays.mat
gated/trainedNetwork/12Jul_0749pm/residual_booster_network.pth
gated/trainedNetwork/12Jul_0749pm/residual_booster_network.onnx
ungated/data/testsets/MID00091_FID00091_UCAIR_TestSat_UNGATED_15_3ml_stress_GROG_30_rays.mat
ungated/data/testsets/MID00405_FID03982_UCAIR_TestSat_UNGATED_REST_9ML_GROG_30_rays.mat
ungated/data/testsets/MID00382_FID03959_UCAIR_TestSat_UNGATED_stress_9ML_GROG_30_rays.mat
ungated/data/testsets/MID00108_FID00108_UCAIR_TestSat_UNGATED_15_3ml_rest_GROG_30_rays.mat
ungated/data/testsets/MID00145_FID07609_UCAIR_SMS2_SA_LA_30_rays_14ml_REST_ungateD_GROG_30_rays.mat
ungated/data/testsets/MID00117_FID07581_UCAIR_SMS2_SA_LA_30_rays_14ml_stress_ungated_GROG_30_rays.mat
ungated/trainedNetwork/13Jul_0937am/residual_booster_network.pth
ungated/trainedNetwork/13Jul_0937am/residual_booster_network.onnx
